.Sidebar {
  height: 100%;
  width: 25%;
  background-color: #712e49;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin: 50px 0px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 70px;
}

.Ecomponents a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px;
  margin: 20px 0px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ctflex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Ecomponents a p {
  margin: 0px;
}

.Ecomponents a.active {
  background-color: #ffd9e3;
  color: #712e49;
}

.labels {
  display: flex;
  align-items: center;
  width: 100%;
}

.textlabel {
  padding: 0px 10px;
  font-weight: lighter;
  font-size: 16px;
}

.Ecomponents {
  padding: 20px;
}
